:root {
  --circle-grad: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
  --background-grad: linear-gradient(to right top, #65dfc9, #6cdbeb);
}
h1 {
  color: #426696;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
h3,
h4,
p {
  color: #658ec6;
  opacity: 0.8;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6 {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: var(--circle-grad);
  position: absolute;
  top: 90%;
  right: 3%;
  z-index: -1;
}
.circle2 {
  top: 21%;
  left: 3%
}
.circle3 {
  top: 33%;
  right: 3%;
}
.circle4 {
  top: 52%;
  left: 3%;
}
.circle5 {
  top: 67%;
  right: 3%;
}
.circle6 {
  top: 80%;
  left: 3%;
}
#page {
  background-image: var(--background-grad);
  font-family: 'Karla', sans-serif;
  color: #4f4f4f;
  margin: 0;
  position: relative;
}
.top-icons {
  position: absolute;
  top: 7px;
  right: 65px;
}
.top-icons a {
  text-decoration: none;
  color: #4b4b4b;
  transition: 0.4s;
}
.top-icons a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.top-icons i {
  margin: 8px;
}
#menu-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
#toggler {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  width: 40px;
  height: 40px;
  margin: 0.5em;
  opacity: 0;
  cursor: pointer;
}
#hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 4;
  width: 20px;
  height: 20px;
  padding: 1rem;
  background-color: rgb(59, 214, 198);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
#lines {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #4b4b4b;
  border-radius: 1em;
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
#lines::before,
#lines::after {
  content: "";
  position: absolute;
  top: -10px;
  z-index: 1;
  width: 100%;
  height: 4px;
  background-color: #4b4b4b;
  border-radius: 1em;
  opacity: 100%;
}
#lines::after {
  top: 10px;
}
#toggler:hover+#hamburger {
  background:  rgba(255, 255, 255, 0.5);
}
#toggler:checked,
#toggler:checked+#hamburger {
  background: var(--circle-grad);
  position: fixed;
}
#toggler:checked+#hamburger #lines {
  transform: rotate(135deg);
}
#toggler:checked+#hamburger #lines::before,
#toggler:checked+#hamburger #lines::after {
  top: 0;
  transform: rotate(90deg);
}
#toggler:checked:hover+#hamburger #lines {
  transform: rotate(225deg);
}
#toggler:checked~#menu {
  visibility: visible;
}
#toggler:checked~#menu #bubble {
  transform: scale(1);
  transition: 0.7s;
}
#toggler:checked~#menu #list-box {
  opacity: 1;
  transition: 0.4s;
}
#toggler:checked+#invite,
#toggler:checked+#server {
  z-index: -1;
}
#menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bubble {
  position: relative;
  background-color: rgba(24, 39, 51, 0.95);
  border-radius: 50%;
  width: 400vw;
  height: 400vw;
  z-index: 3;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: 0.4s;
}
#list-box {
  position: relative;
  background: var(--circle-grad);
  border: solid 2px #ffffff;
  border-radius: 1em;
  text-align: center;
  max-width: 20%;
  max-height: 33%;
  transition: 0.4s;
}
#list li {
  list-style: none;
  margin-right: 40px;
  transition: 0.4s;
}
#list li:hover {
  transform: scale(1.1);
}
#list a {
  color: #4b4b4b;
  text-decoration: none;
}
#title {
  background-color: #3bd6c6;
  line-height: 2em;
  border-bottom: #bdbdbd solid 5px;
  font-size: 2em;
  font-weight: 700;
  padding-left: 50px;
}
#slogan {
  background-color: #bdbdbd;
  border-bottom-right-radius: 1em;
  width: 66%;
  line-height: 2em;
  font-weight: 600;
  font-size: 1em;
  padding-left: 50px;
}
#features {
  background: var(--circle-grad);
  padding: 0.5rem;
  width: 50%;
  border-radius: 2rem;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.category {
  background: #ffffff;
  background: var(--circle-grad);
  backdrop-filter: blur(2rem);
  width: 80%;
  border-radius: 2rem;
  margin: auto;
  margin-bottom: 50px;
  color: #cccccc;
  display: flex;
}
.showcase {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: var(--circle-grad);
  border-radius: 2rem;
}
.icon {
  margin: 1rem;
  display: flex;
  align-items: center;
}
.icon img {
  width: 25px;
}
.picture {
  transition: 0.4s;
}
.picture img {
  width: 80%;
  border-radius: 1rem;
}
.description {
  padding: 0rem 1rem;
  margin: 2rem;
  background-image: var(--background-grad);
  border-radius: 2rem;
  transition: 0.4s;
}
.description h2 {
  color: #ffffff;
}
.commands {
  width: 70%;
}
.title {
  margin: 2rem;
}
.card {
  margin: 1rem 2rem;
  display: flex;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
  transition: 0.4s;
}
.card:hover {
  background: rgba(255, 255, 255, 0.8);
  transform: translateY(-0.5em) scale(1.01);
}
#bottom {
  bottom: 0;
  height: 5em;
  background-color: #2b2b2b;
  margin-top: 80px;
}
#buttons {
  position: relative;
  z-index: 0;
  margin-top: 100px;
  width: 75%;
  margin: auto;
}
#invite,
#server {
  float: left;
  width: 50%;
  box-sizing: border-box;
  background: #fcfcfc;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#invite {
  border-right: 1px solid #4b4b4b;
  border-radius: 1em 0 0 1em;
}
#server {
  border-left: 1px solid #4b4b4b;
  border-radius: 0 1em 1em 0;
}
#invite::before,
#server::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  border-radius: 0 0 50% 50%;
  width: 100%;
  height: 0%;
  background-image: var(--background-grad);
  transition: 0.4s;
}
#invite:hover::before,
#server:hover::before {
  height: 180%;
}
@media (max-width: 700px) {
  .showcase {
    display: none;
  }
  .commands {
    width: 100%;
  }
}
@media (max-height: 400px) {
  #list-box {
    max-height: 10%;
  }
}